body{
    font-family: 'Exo', sans-serif;
}

.icon{
    background-color: rgba(0, 187, 255, 0.104);
    display: inline-flex;
    padding: 15px;
    border-radius: 15px;
}

.bg-card{
    background: #f8f9fa;
}


.bg-html{
    background-color: #f165297e;
}
.bg-css{
    background-color: #29a9e080;
}
.bg-js{
    background-color: #88cf1787;
}

.footer-link{
    text-decoration: none;
    color: black;
}

.footer-header{
    border-bottom: 3px solid;
    height: 35px;
}

.bg-copyright{
    background-color: rgba(231, 231, 231, 0.453);
}